<div id="timerDiv">

  <button id="addTimer">Add Timer</button>
  <button id="removeTimer">Remove Timer</button>
    <div class="timerContainer">
      <h1>Enter minutes you want to work </h1>
      <div class="clock">
        <p>0:00</p>
      </div>
      <input id="request" type="text" placeholder="Enter an amount here">
      <a href="#" class="click">Click here</a>    </div>


</div>

<form method="get" action="#">
  <label>Recipe Search:</label>
  <input id="ingredients" name="ingredients" type="text">
  <!-- <input id="calories" name="calories" type="text"> -->
  <input id="recipeSearch" type="submit">
</form>

  <!-- <div id="iframeDiv"> -->
      <iframe id="iframe" src="" width="100%" height="300px" name="iframe_a"></iframe>
      <button id="closeIframe">X</button>
      <p><a id="iframeLink" href="" target="iframe_a">
        <!-- <button id="breakIframe" onclick="breakout()">^</button> -->
      </a></p>
    <!-- </div> -->

    <table>
      <div class="jsrecipes"></div>

    </table>
