<h1>
  <!-- <form action="#" method="post"> -->
  <!-- <input name="Recipe" placeholder="Ingredients" type="text"></form></h1> -->
  Hours <input type='text' value='' class='js-hours'/>
  Minutes <input type='text' value='' class='js-minutes'/>
  Seconds  <input type='text' value='' class='js-seconds'/>

  <button id='startTimer'>Start</button>
</h1>

  <h2>Time Left: <span class='js-time-left'></span></h2>

<form method="get" action="#">
  <label>Recipe Search:</label>
  <input id="ingredients" name="ingredients" type="text">
  <!-- <input id="calories" name="calories" type="text"> -->
  <input id="recipeSearch" type="submit">
</form>

<table>
  <% @recipes.each do |recipe| %>
  <a href="/recipes/<%= recipe.id %>">
  <div class<%"jsr %>ecipes"></div>
</a>
<% end %>
</table>

<!-- <ul class="recipeRender">
    <li> -->
    <!-- <table>
      <a href="">
      <div class="jsrecipes"></div>
    </a>
    </table> -->
    <!-- </li>
</ul> -->
