<div id="timerDiv">
<h3>
  <!-- <form action="#" method="post"> -->
  <!-- <input name="Recipe" placeholder="Ingredients" type="text"></form></h1> -->
  <button id="addTimer">Add Timer</button>
  <button id="removeTimer">Remove Timer</button>
    <div class="timerContainer">
      Hours <input type='text' value='' class='js-hours'/>
      Minutes <input type='text' value='' class='js-minutes'/>
      Seconds  <input type='text' value='' class='js-seconds'/>
      <button id='startTimer'>Start</button>
  Time Left: <div class='js-time-left'></div>
    </div>
</h3>

</div>

<form method="get" action="#">
  <label>Recipe Search:</label>
  <input id="ingredients" name="ingredients" type="text">
  <!-- <input id="calories" name="calories" type="text"> -->
  <input id="recipeSearch" type="submit">
</form>

<!-- <ul class="recipeRender">
    <li> -->
      <iframe id="iframe" width="100%" height="300px" name="iframe_a"></iframe>
      <p><a id="iframeLink" href="" target="iframe_a"><div class="jsrecipes"></div>

    <table>
      <div class="jsrecipes"></div>
    <!-- </a> -->
    </table>
    </a></p>
    <!-- </li>
</ul> -->
