@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Exo+2:600);
body{
  background-color: #e7e7e7;
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
  border-style: solid;
  background-color: #fff;
}

#timerDiv{
  display: none;
}

.clock > p{
  padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
  font-family: 'Exo 2', sans-serif;
  margin: 0 auto;
}

iframe{
  display: none;
}

table{
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

#timerContainer{
  background-color: #fff;
}

img{
  width: 20%;
}

.jsrecipes{
  display: inline;
  width: 50%;
  /*margin: 0px auto 0px auto}*/
    }
